@import '../../style/focus-outline.scss';

:host([mode=radio]) {
    label:focus-visible {
        transition: none;
        @include focus-outline($border-radius: 0.5rem, $outline-offset: 0);
    }
}

:host([mode=horizontal]) {
    label:focus-visible {
        transition: none;
        @include focus-outline($border-radius: 0.5rem, $outline-offset: 2px);
    }
}

:host([mode=radio]),
:host([mode=horizontal]) {
    input {
        display: none;
    }

    label {
        margin-bottom: 0;
        color: var(--wcs-text-medium);
        background-color: transparent;
        font-weight: 500 !important;
        display: inline-block;

        &:before {
            border-radius: 50%;
            border: 2px solid var(--wcs-text-disabled);
            position: relative;
            width: 1.125rem;
            height: 1.125rem;
            pointer-events: none;
            content: "";
            background-color: var(--wcs-white);
        }

        &:after {
            transition: 0.175s ease-in-out;
            position: relative;
            width: 1.125rem;
            height: 1.125rem;
            content: "";
            background: no-repeat 50% / 50% 50%;
        }
    }
}

:host([disabled]) {
    label {
        color: var(--wcs-text-disabled);
        cursor: not-allowed;
    }
}

:host(:not([disabled])) {
    label {
        cursor: pointer;
    }
}

:host([mode=radio][checked]),
:host([mode=horizontal][checked]) {
    label {
        color: var(--wcs-primary);

        &:before {
            border-color: var(--wcs-primary);
            background-color: var(--wcs-primary);
        }
    }
}

:host([mode=radio]:hover):not([disabled]),
:host([mode=horizontal]:hover):not([disabled]) {
    label {
        color: var(--wcs-primary);

        &:before {
            border-color: var(--wcs-primary);
        }
    }
}

:host([mode=radio]) {
    label {
        padding: 0.125rem 0.125rem 0 0;
        border: none;
        transition: 0.175s ease-in-out;

        &:before {
            transition: 0.175s ease-in-out;
            margin-right: var(--wcs-base-margin);
            display: inline-block;
            top: 3px;
            box-sizing: border-box;
        }
    }
}

:host([mode=horizontal]) {
    label {
        &:before {
            transition: background-color 0.175s ease-in-out;
            margin: auto auto var(--wcs-base-margin);
            display: block;

        }
    }
}

:host([mode=option]) {
    padding: var(--wcs-base-margin) calc(var(--wcs-base-margin) / 2);
    font-weight: 500 !important;

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        box-sizing: border-box;
        padding: 0;
    }

    label {
        padding: 5px calc(2 * var(--wcs-base-margin));
        margin-bottom: 0;
        color: var(--wcs-white);
        white-space: nowrap;
        border-radius: 0.4375rem;
    }

    label:focus-visible {
        @include focus-outline(var(--wcs-white), 0.4375rem, 0.1rem);
    }
}

:host([mode=option][checked]) {
    label {
        font-weight: 500 !important;
        color: var(--wcs-primary);
        background-color: var(--wcs-white);
    }
}
