@import "../../style/ripple.scss";
@import '../../style/focus-outline.scss';

:host {
    --wcs-select-ligther-percentage: 40;
    --wcs-select-border-radius: var(--wcs-border-radius);
    --wcs-select-background-color: var(--wcs-light);
    --wcs-select-placeholder-color: var(--wcs-text-medium);
    --wcs-select-value-color: var(--wcs-primary);
    --wcs-select-border-color: transparent;
    --wcs-select-overlay-max-height: 360px;
    --wcs-select-option-height: 42px;
    --wcs-select-border-width: 1px;

    display: block;
    position: relative;
    outline: none;
    user-select: none;

    // So the arrow on the right doesn't shrink when text overflows.
    svg {
        flex-shrink: 0;
    }

    .arrow {
        fill: var(--wcs-select-value-color);
    }

    .chip {
        fill: var(--wcs-contrast);
        opacity: calc((100 - var(--wcs-select-ligther-percentage)) / 100);

        &:hover {
            opacity: 100;
        }
    }
}

:host(.expanded) {

    --wcs-select-border-color: var(--wcs-text-light);

    .wcs-select-options {
        display: block;
    }
}

// Focused not expanded
:host(:not(.expanded):focus) {
    .wcs-select-control {
        border: var(--wcs-primary) solid 1px;
    }
}

:host(:not(.expanded):focus-visible) {
    .wcs-select-control {
        @include focus-outline($border-radius: var(--wcs-select-border-radius));
    }
}

:host([disabled]) {
    cursor: not-allowed;

    .wcs-select-control,
    label {
        cursor: default;
        pointer-events: none;
    }

    label {
        color: var(--wcs-text-disabled);
    }

    .arrow {
        fill: var(--wcs-text-medium);
    }
}

label {
    padding: calc(var(--wcs-padding) / 2) var(--wcs-padding);
    font-weight: 500;
    cursor: pointer;
    color: var(--wcs-select-color);
    transition: color 125ms ease-in;
    // Hide overflowing display text
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host([chips]) {
    .wcs-select-control {
        flex-wrap: wrap;
    }
}

.wcs-select-control {
    @include ripple;
    display: flex;
    align-items: center;
    padding-right: var(--wcs-text-padding);
    background-color: var(--wcs-select-background-color);
    border-radius: var(--wcs-select-border-radius);
    border: var(--wcs-select-border-color) solid var(--wcs-select-border-width);
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
}

.wcs-select-placeholder {
    color: var(--wcs-select-placeholder-color);
    font-style: italic;
    font-weight: 400;
}

.wcs-select-value {
    color: var(--wcs-select-value-color);
    font-weight: var(--wcs-font-weight-form-value);
}

.wcs-select-chip {
    color: var(--wcs-contrast);
    background-color: var(--wcs-base);
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    margin: calc(var(--wcs-base-margin)/2);
    padding: calc(calc(var(--wcs-padding) - 8px) / 2) var(--wcs-padding);
    overflow: initial;
}




.wcs-select-options {
    display: none;
    position: absolute;
    z-index: 999999999;

    border: solid var(--wcs-select-border-width) var(--wcs-select-border-color);
    border-radius: var(--wcs-select-border-radius);

    max-height: var(--wcs-select-overlay-max-height);
    overflow-y: auto;
    width: calc(100% - calc(2 * var(--wcs-select-border-width)));

    background-color: var(--wcs-white);
    color: var(--wcs-text-medium);

}
